.DivBox {
  width: 150px;
  height: 100px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #0000;
  background: whiteSmoke 0 0;
  font-size: 18px;
  font-weight: bolder;
}

.DivBox:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(185, 240, 163, 0.5);
  transform: scale(1.8);
  transition: transform 0.2s ease-in-out;

  --p: 1%;
  background:
    linear-gradient(whitesmoke 0 0) padding-box,
    repeating-conic-gradient(#5d513c 0 var(--p), transparent 0 50%) border-box;
  animation: myAnimation 3s infinite;
}

@keyframes myAnimation {
  0% {
    --p: 3%;
  }

  7% {
    --p: 4%;
  }

  10% {
    --p: 6%;
  }

  15% {
    --p: 8%;
  }

  20% {
    --p: 10%;
  }

  30% {
    --p: 12%;
  }

  35% {
    --p: 13%;
  }

  40% {
    --p: 15%;
  }

  50% {
    --p: 17%;
  }

  52% {
    --p: 18%;
  }

  58% {
    --p: 19%;
  }

  60% {
    --p: 20%;
  }

  65% {
    --p: 21%;
  }

  75% {
    --p: 22%;
  }

  80% {
    --p: 23%;
  }

  90% {
    --p: 24%;
  }

  100% {
    --p: 25%;
  }

}