<div class="MainBody">

  <nav style="margin-top: 5px;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button style="color: black;cursor: pointer;width: 100px;" class="nav-link active" id="nav-Surah-tab"
        data-bs-toggle="tab" data-bs-target="#nav-Surah" type="button" role="tab" aria-controls="nav-Surah"
        aria-selected="true">السور</button>
      <button style="color: black;cursor: pointer;width: 100px;" class="nav-link" id="nav-Juz-tab"
        data-bs-toggle="tab" data-bs-target="#nav-Juz" type="button" role="tab" aria-controls="nav-Juz"
        aria-selected="false">الأجزاء</button>
      <button style="color: black;cursor: pointer;width: 100px;" class="nav-link" id="nav-Pages-tab"
        data-bs-toggle="tab" data-bs-target="#nav-Pages" type="button" role="tab" aria-controls="nav-Pages"
        aria-selected="false">الصفحات</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent" style="overflow: auto;height: 100px;scrollbar-width: none;min-height: 82vh;">
    <div class="tab-pane fade show active" id="nav-Surah" role="tabpanel" aria-labelledby="nav-Surah-tab">
      <div class="DivContanier">
        <div *ngFor="let surah of surahs">
          <div (click)="gotoQuranPageByPage(surah.startpage)" class="DivBox">
            <span style="direction: rtl;">
              {{ surah.order }}.
              سورة {{ surah.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-Juz" role="tabpanel" aria-labelledby="nav-Juz-tab">
      <div class="DivContanier">
        <div *ngFor="let _ of [].constructor(30); let number = index">
          <div (click)="gotoQuranPageByJuz(number+1)" class="DivBox">الجزء {{ number+1 }}</div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-Pages" role="tabpanel" aria-labelledby="nav-Pages-tab">
      <div class="DivContanier">
        <div *ngFor="let _ of [].constructor(604); let number = index">
          <div (click)="gotoQuranPageByPage(number+1)" class="DivBox">الصفحة {{ number+1 }}</div>
        </div>
      </div>
    </div>
  </div>

</div>
