<header>
  <div style="min-width:99%;padding:0;">
    <div class="row">
      
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img src="assets/hano_logo.png" class="logo">
          <div>
            <table>
              <tbody>
                <tr style="background-color: transparent;">
                  <td><span>{{ date }}</span></td>
                </tr>
                <tr style="background-color: transparent; white-space: nowrap;">
                  <td><span>{{ hijridate }}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li (click)="gotoPage('')">{{Strings.Header_MainPage}}</li>
            <li (click)="gotoPage('search')">{{Strings.Header_SearchPage}}</li>
            <li (click)="gotoPage('quran/1')">{{Strings.Header_QuranPage}}</li>
            <li (click)="gotoPage('streams')">{{Strings.Header_StreamsPage}}</li>
            <li (click)="gotoPage('prayTime')">{{Strings.Header_PrayTimePage}}</li>
            <li (click)="gotoPage('masjids')">{{Strings.Header_MasjidsPage}}</li>
            <li (click)="gotoPage('about')">{{Strings.Header_AboutPage}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>