<footer class="bg-light text-center text-lg-start footer">
  <div class="text-center p-3">

    <table>
      <tr>

        <td>
          <div style="font-weight: bold;"> {{FooterInfo}} </div>
        </td>

        <td>
          <span (click)="gotoLink(URLS.GitHub_Url)">
            <i class="fab fa-github icon IconClass"></i>
          </span>

          <span (click)="gotoLink(URLS.FaceBook_Url)">
            <i class="fab fa-facebook-f icon IconClass"></i>
          </span>

          <span (click)="gotoLink(URLS.Linkedin_Url)">
            <i class="fab fa-linkedin-in icon IconClass"></i>
          </span>

          <span (click)="gotoLink(URLS.GooglePlay_Url)">
            <i class="fab fa-google-play icon IconClass"></i>
          </span>
        </td>

      </tr>
    </table>

  </div>
</footer>