<footer class="bg-light text-center text-lg-start footer">
  <div class="text-center p-3" style="background-color: #02534d;padding: 19px !important; direction:rtl;">

    <div style="font-weight: bold;"> Online Quran </div>

    <div>
      <a href="https://www.facebook.com/almanee.abdalrhman">
        <img src="assets/facebook.png" alt="" class="ImgClass"></a>
      <a href="https://www.linkedin.com/in/mohammad-awad-97b2b0256/">
        <img src="assets/linkedin.png" alt="" class="ImgClass"></a>
      <a href="https://play.google.com/store/apps/dev?id=6977806523137890552">
        <img src="assets/game.png" alt="" class="ImgClass"></a>
    </div>

    <div> البريد الإلكتروني: Mohammad.Omar.Awad&#64;gmail.com </div>

  </div>
</footer>