.footer {
  margin-top: 10px;
}

.footerClass{
  background-color: whitesmoke;
  padding: 19px !important;
  direction:rtl;
}

.ImgClass{
  width: 2%;
  margin: 5px;
}

@media screen and (max-width: 500px) {
  .ImgClass{
    width: 4%;
  }
}
