.DivBox {
  margin: 5px;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #0000;
  background: linear-gradient(whiteSmoke 0 0) padding-box, repeating-conic-gradient(#5d513c 0 25%, #0000 0 50%) border-box;
  font-size: x-large;
  font-weight: bold;
  padding: 15px;
  font-size: 20px;
}