<div class="MainBody">

    <div class="Block" style="display: block;">
        <h1 style="font-weight: bold;">{{AboutTitle}}</h1>
        <div>
            {{Information}}
        </div>
    </div>

    <div class="Block" style="display: block;">
        <h1 style="font-weight: bold;">{{AboutVisionTitle}}</h1>
        <div>
            {{Vision}}
        </div>
    </div>

    <div class="Block">
        <a href="mailto:mohammad.omar.awad@gmail.com" style="cursor: pointer;"> البريد الإلكتروني </a>
    </div>

</div>