.SurahInfos {
  border-radius: 14px;
  padding: 8px;
  border-bottom: 2px solid;
  border-top: 2px solid;
}

.Surah-Seperator {
  background: transparent url('../Mid/sura-frame.png') no-repeat scroll 50% 50%;
  margin: 5px;
  padding: 10px;
}

.AyaClass {
  font-weight: 100;
  color: lightyellow;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.AyaClass:hover {
  background-color: rgba(0, 153, 255, 0.24); 
  cursor: pointer; 
  border-radius: 30px;
}

.NameClass {
  width: 100%;
}

.Btn {
  cursor: pointer;
}

.Btn:hover {
  text-decoration: underline;
}

hr {
  opacity: 1;
}

.LineClass {
  text-align: center;
  text-align-last: center;
  direction: rtl;
  font-weight: 100;
}

.DivBox {
  margin: 5px;
  align-items: center;
  justify-content: space-around;
  color: white;
  border: 3px solid #0000;
  background: linear-gradient(#a78140 0 0) padding-box, repeating-conic-gradient(#5d513c 0 25%, #0000 0 50%) border-box;
  padding: 15px;
  font-size: 40px;
}

.DivContanier {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  font-family:monospace;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .DivContanier {
    margin-left: 0%;
    margin-right: 0%;
  }
  .DivBox{
    font-size: 20px;
  }
  .AyaClass{
    font-size: 25px;
  }
}

