.SurahInfos {
  border-radius: 14px;
  padding: 8px 20px 8px 20px;
  border-bottom: 2px solid;
  border-top: 2px solid;
  white-space: nowrap;
}

.columon {
  width: 33%;
}

.active {
  background-color: rgba(0, 153, 255, 0.24);
}

.NameClass {
  width: 100%;
  margin-bottom: 10px;
}

/* Change the entire player background */
audio::-webkit-media-controls-panel {
  background-color: lightgrey;
}