.TableClass {
  width: 100%;
  text-align: center;
  direction: rtl;
}

.active {
  background-color: rgba(0, 153, 255, 0.24);
}

%BaseClass {
  white-space: nowrap;
  width: 33%;
}

.textalign_Left {
  @extend %BaseClass;
  text-align: left;
}

.textalign_right {
  @extend %BaseClass;
  text-align: right;
}

.textalign_center {
  @extend %BaseClass;
  text-align: center;
}

/* Change the entire player background */
audio::-webkit-media-controls-panel {
  background-color: lightgrey;
}