.SurahInfos {
  border-radius: 14px;
  padding: 8px 20px 8px 20px;
  border-bottom: 2px solid;
  border-top: 2px solid;
  white-space: nowrap;
}

.columon {
  width: 33%;
}

.AyaClass {
  transition: background-color 0.5s ease;
}

.AyaClass:hover {
  background-color: rgba(0, 153, 255, 0.24);
  cursor: pointer;
}

.active {
  background-color: dimgrey;
}

.NameClass {
  width: 100%;
  margin-bottom: 10px;
}

hr {
  opacity: 1;
}

.LineClass {
  text-align: justify;
  text-align-last: center;
  direction: rtl;
  font-weight: 100;
}

.DivBox {
  margin: 5px;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #0000;
  background: linear-gradient(whiteSmoke 0 0) padding-box, repeating-conic-gradient(#5d513c 0 25%, #0000 0 50%) border-box;
  padding: 15px;
  font-size: 40px;
}


/* Change the entire player background */
audio::-webkit-media-controls-panel {
  background-color: lightgrey;
}

/* Small devices */
@media screen and (max-width: 480px) {
  .DivContanier {
    margin-left: 0%;
    margin-right: 0%;
  }

  .DivBox {
    font-size: 20px;
  }

  .AyaClass {
    font-size: 25px;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 900px) {
  .DivContanier {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
  }

  .DivBox {
    font-size: 30px;
  }

  .AyaClass {
    font-size: 35px;
  }
}

/* Desktops */
@media screen and (min-width: 901px) {
  .DivBox {
    font-size: 30px;
  }

  .AyaClass {
    font-size: 35px;
  }
}