.SurahInfos {
  border-radius: 14px;
  padding: 8px 20px 8px 20px;
  border-bottom: 2px solid;
  border-top: 2px solid;
  white-space: nowrap;
}

.columon {
  width: 33%;
}

.AyaClass {
  color: lightyellow;
  transition: background-color 0.5s ease;
}

.AyaClass:hover {
  background-color: rgba(0, 153, 255, 0.24);
  cursor: pointer;
}

.NameClass {
  width: 100%;
  margin-bottom: 10px;
}

.Btn {
  background-color: #02534d;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

hr {
  opacity: 1;
}

.LineClass {
  text-align: justify;
  text-align-last: center;
  direction: rtl;
  font-weight: 100;
}

.DivBox {
  margin: 5px;
  align-items: center;
  justify-content: space-around;
  color: white;
  border: 3px solid #0000;
  background: linear-gradient(#a78140 0 0) padding-box, repeating-conic-gradient(#5d513c 0 25%, #0000 0 50%) border-box;
  padding: 15px;
  font-size: 40px;
}

.MainBody {
  width: 60%;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  min-height: 82vh;
  font-family: monospace;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .DivContanier {
    margin-left: 0%;
    margin-right: 0%;
  }

  .DivBox {
    font-size: 20px;
  }

  .AyaClass {
    font-size: 25px;
  }

  .MainBody {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* Change the entire player background */
audio::-webkit-media-controls-panel {
  background-color: lightgrey;
}