.SurahInfos {
  border-radius: 14px;
  padding: 8px 20px 8px 20px;
  border-bottom: 2px solid;
  border-top: 2px solid;
  white-space: nowrap;
}

.columon {
  width: 33%;
}

.WordAnalysisClass {
  text-align-last: right;
}

.AyaClass {
  transition: background-color 0.5s ease;
}

.AyaClass:hover {
  background-color: rgba(0, 153, 255, 0.24);
  cursor: pointer;
}

.active {
  background-color: rgba(0, 153, 255, 0.24);
}

.NameClass {
  width: 100%;
  margin-bottom: 10px;
}

hr {
  opacity: 1;
}

.LineClass {
  text-align: justify;
  text-align-last: center;
  direction: rtl;
  font-weight: 100;
}

/* Change the entire player background */
audio::-webkit-media-controls-panel {
  background-color: lightgrey;
}

/* Small devices */
@media screen and (max-width: 480px) {
  .AyaClass {
    font-size: 25px;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 900px) {

  .AyaClass {
    font-size: 35px;
  }
}

/* Desktops */
@media screen and (min-width: 901px) {
  .AyaClass {
    font-size: 35px;
  }
}