.TableClass {
  width: 100%;
  text-align: center;
  direction: rtl;
}

.active {
  background-color: rgba(0, 153, 255, 0.24);
}

/* Change the entire player background */
audio::-webkit-media-controls-panel {
  background-color: lightgrey;
}