.TableClass {
  width: 100%;
  text-align: center;
  direction: rtl;
}

.active {
  background-color: rgba(0, 153, 255, 0.24);
}

.textalign_Left{text-align: left;    width: 33%;}
.textalign_right{text-align: right;    width: 33%;}
.textalign_center{text-align: center;    width: 33%;}

.SurhaHeader  {
  background-color: whitesmoke;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1px;
}

/* Change the entire player background */
audio::-webkit-media-controls-panel {
  background-color: lightgrey;
}