<div class="MainBody" style="overflow: auto;height: 100px;scrollbar-width: none;">

    <div>

        <nav style="margin-top: 5px;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active BtnNav" id="nav-PrayTime-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-PrayTime" type="button" role="tab" aria-controls="nav-PrayTime"
                    aria-selected="true">أوقات الصلاة</button>
                <button class="nav-link BtnNav" id="nav-PrayTimeWholeMonth-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-PrayTimeWholeMonth" type="button" role="tab"
                    aria-controls="nav-PrayTimeWholeMonth" aria-selected="false">كامل الشهر</button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent"
            style="overflow: auto;height: 100px;scrollbar-width: none;min-height: 82vh;">

            <br />

            <!-- PrayTime -->
            <div class="tab-pane DivBox fade show active" style="line-height:45px;background-color:transparent;"
                id="nav-PrayTime" role="tabpanel" aria-labelledby="nav-PrayTime-tab">

                <div class="table-responsive-sm">

                    <div> {{CityName}}</div>
                    <div style="text-align: -webkit-center;">
                        <div>
                            <span class="qword"> ({{PrayTimeToday.date.hijri.weekday.ar}})</span>
                            <br />
                            {{PrayTimeToday.date.gregorian.date}} <span class="qword">
                                ({{PrayTimeToday.date.hijri.date}})</span>
                        </div>

                        <table class="table table-hover" style="width: 70%;">
                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Fajr :
                                    </span></td>
                                <td>{{PrayTimeToday.timings.Fajr}}</td>
                            </tr>

                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Dhuhr :
                                    </span></td>
                                <td>{{PrayTimeToday.timings.Dhuhr}}</td>
                            </tr>

                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Asr :
                                    </span>
                                </td>
                                <td>{{PrayTimeToday.timings.Asr}}</td>
                            </tr>

                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Maghrib :
                                    </span></td>
                                <td>{{PrayTimeToday.timings.Maghrib}}</td>
                            </tr>

                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Isha :
                                    </span></td>
                                <td>{{PrayTimeToday.timings.Isha}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Whole Month PrayTime -->
            <div class="tab-pane fade" style="line-height:45px;background-color:transparent;"
                id="nav-PrayTimeWholeMonth" role="tabpanel" aria-labelledby="nav-PrayTimeWholeMonth-tab">

                <div class="tab-pane DivBox fade show active" style="line-height:45px;background-color:transparent;"
                    id="nav-PrayTime" role="tabpanel" aria-labelledby="nav-PrayTime-tab">

                    <div> {{CityName}}</div>
                    <div class="DivBox" style="text-align: -webkit-center;" *ngFor="let data of prayTimeModle?.data">
                        <div>
                            <span class="qword"> ({{data.date.hijri.weekday.ar}})</span>
                            <br />
                            {{data.date.gregorian.date}} <span class="qword">
                                ({{data.date.hijri.date}})</span>
                        </div>

                        <table class="table table-hover" style="width: 70%;">
                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Fajr
                                        :
                                    </span></td>
                                <td>{{data.timings.Fajr}}</td>
                            </tr>

                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Dhuhr
                                        :
                                    </span></td>
                                <td>{{data.timings.Dhuhr}}</td>
                            </tr>

                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Asr :
                                    </span>
                                </td>
                                <td>{{data.timings.Asr}}</td>
                            </tr>

                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Maghrib :
                                    </span></td>
                                <td>{{data.timings.Maghrib}}</td>
                            </tr>

                            <tr>
                                <td style="text-align: left;"><span class="qword" style="white-space: nowrap;">Isha
                                        :
                                    </span></td>
                                <td>{{data.timings.Isha}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </div>

        </div>
    </div>

</div>