<div class="MainBody" style="overflow: auto;height: 100px;scrollbar-width: none;">

    <div>

        <nav style="margin-top: 5px;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active BtnNav" id="nav-PrayTime-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-PrayTime" type="button" role="tab" aria-controls="nav-PrayTime"
                    aria-selected="true">{{Strings.Header_PrayTimePage}}</button>
                <button class="nav-link BtnNav" id="nav-PrayTimeWholeMonth-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-PrayTimeWholeMonth" type="button" role="tab"
                    aria-controls="nav-PrayTimeWholeMonth" aria-selected="false">{{Strings.PrayTime_Tab_WholeMonth}}</button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent"
            style="overflow: auto;height: 100px;scrollbar-width: none;min-height: 82vh;">

            <br />

            <!-- PrayTime -->
            <div class="tab-pane DivBox fade show active" style="line-height:45px;background-color:transparent;"
                id="nav-PrayTime" role="tabpanel" aria-labelledby="nav-PrayTime-tab">

                <div class="table-responsive-sm">

                    <div> {{CityName}}</div>
                    <div style="text-align: -webkit-center;">
                        <div>
                            <span class="qword"> ({{PrayTimeToday?.date?.hijri?.weekday?.ar}})</span>
                            <br />
                            {{PrayTimeToday?.date?.gregorian?.date}} <span class="qword">
                                ({{PrayTimeToday?.date?.hijri?.date}})</span>
                        </div>

                        <table class="table table-hover" style="width: 70%;">
                            <tr>
                                <td style="text-align: left;">{{PrayTimeToday?.timings?.Fajr}}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">{{Strings.PrayTime_Fajr}} </span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left;">{{PrayTimeToday?.timings?. Dhuhr }}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">{{Strings.PrayTime_Dhuhr}} </span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left;">{{PrayTimeToday?.timings?. Asr }}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">{{Strings.PrayTime_Asr}} </span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left;">{{PrayTimeToday?.timings?. Maghrib }}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">{{Strings.PrayTime_Magrib}} </span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left;">{{PrayTimeToday?.timings?. Isha }}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">{{Strings.PrayTime_Isha}} </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Whole Month PrayTime -->
            <div class="tab-pane fade" style="line-height:45px;background-color:transparent;"
                id="nav-PrayTimeWholeMonth" role="tabpanel" aria-labelledby="nav-PrayTimeWholeMonth-tab">

                <div class="tab-pane DivBox fade show active" style="line-height:45px;background-color:transparent;"
                    id="nav-PrayTime" role="tabpanel" aria-labelledby="nav-PrayTime-tab">

                    <div> {{CityName}}</div>
                    <div class="DivBox" style="text-align: -webkit-center;" *ngFor="let data of prayTimeModle?.data">
                        <div>
                            <span class="qword"> ({{data?.date?.hijri?.weekday?.ar}})</span>
                            <br />
                            {{data?.date?.gregorian?.date}} <span class="qword">
                                ({{data?.date?.hijri?.date}})</span>
                        </div>

                        <table class="table table-hover" style="width: 70%;">
                           <tr>
                                <td style="text-align: left;">{{data?.timings?.Fajr}}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">الفجر </span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left;">{{data?.timings?. Dhuhr }}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">الظهر </span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left;">{{data?.timings?. Asr }}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">العصر </span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left;">{{data?.timings?. Maghrib }}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">المغرب </span>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left;">{{data?.timings?. Isha }}</td>
                                <td style="text-align: right;">
                                    <span class="qword" style="white-space: nowrap;">العشاء </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>