:host {
  max-width: 1280px;
  text-align: center;
}

.MainBody {
  width: 60%;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  min-height: 86vh;
  font-family: "Droid Arabic Kufi";
}

.DivContanier {
  direction: rtl;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.DivBox {
  margin: 5px;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #0000;
  background: linear-gradient(whiteSmoke 0 0) padding-box, repeating-conic-gradient(#5d513c 0 25%, #0000 0 50%) border-box;
  font-size: x-large;
  font-weight: bold;
  padding: 15px;
  font-size: 20px;
}

.Btn {
  background-color: whitesmoke;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1px;
}

.Btn:hover {
  background-color: #EBF0F0;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.BtnNav {
  font-weight: bold;
  color: black !important;
  min-width: 20%;
}

.BtnNav:hover {
  cursor: pointer;
  transform: scale(1.05);
}

select,
::picker(select) {
  appearance: base-select;
  font-weight:bold;
}

::picker(select) {
  border: none;
  background: #c8c8c8;
  margin: .4rem 0;
}

option :checked {
  background: #c8c8c8;
}

.dropdown-content {
  position: absolute;
  background-color: lightgrey;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px lightgrey;
  padding: 12px 16px;
}

/* Refactoring Brackets */
.qword {
  color: #0f6b9c;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .MainBody {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* Small devices */
@media screen and (max-width: 480px) {
  .dropdown-content {
    position: relative;
    display: grid;
    background-color: lightgrey;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px lightgrey;
    padding: 12px 16px;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 900px) {
  .dropdown-content {
    position: relative;
    display: grid;
    background-color: lightgrey;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px lightgrey;
    padding: 12px 16px;
  }

    .MainBody {
    width: 98%;
  }
}