<div class="MainBody">

    <h3>{{CityName}}</h3>
    <h3>{{ErrorMessage}}</h3>

    <div class="table-responsive-sm">
        <div *ngFor="let masjid of MasjidInfor?.data?.masjids" class="Block">

            <table class="table table-hover" style="width: 70%;" (click)="gotoMasjid(masjid.masjidLocation)">
                <tr>
                    <td style="text-align: right;vertical-align: top;">
                        <span class="qword" style="white-space: nowrap;">{{ Strings.Massjid_MasjidName }} </span>
                    </td>
                    <td style="text-align: left;vertical-align: top;">{{ masjid.masjidName }}</td>
                </tr>
                <tr>
                    <td style="text-align: right;vertical-align: top;">
                        <span class="qword" style="white-space: nowrap;">{{ Strings.Massjid_MasjidAddress }} </span>
                    </td>
                    <td style="text-align: left;vertical-align: top;">
                        {{masjid.masjidAddress.description }}
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>