/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
