<div class="MainBody" style="overflow: auto;height: 100px;scrollbar-width: none;text-align: -webkit-center;">

    <div class="searchBox">
        <input type="text" class="Btn" style="text-align: center;width: 75%;" id="searchinput" placeholder={{Strings.SearchPage_PlaceHolder_SearchBox}} #titleInput (keyup)="search(titleInput.value)">
    </div>

    <div *ngFor="let e of ayasList" class="Block">
        <div  (click)="gotoQuranPageByPage(e.page)">
            <div class="LineClass">
                <Span class="AyaClass">
                    <span>{{e?.text_uthmani}}</span>
                    <span class="qword">{{e?.aya}}</span>
                </Span>
            </div>

            <div class="LineClass">
                <Span class="AyaClass">
                    <span class="qword">{{Strings.MainPage_Page}} {{e?.page}}</span>
                    <span> &nbsp; </span>
                    <span class="qword">{{Strings.SearchPage_Surah}} {{e?.surah_Infos?.name}}</span>
                </Span>
            </div>
        </div>
    </div>
</div>