.searchBox {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.divBox {
    margin: 5px;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #0000;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
}

.divBox:hover {
    font-size: 24px;
    box-shadow: 0px 0px 5px 5px rgba(185, 240, 163, 0.5);
    cursor: pointer;
    transition: box 0.2s ease-in-out;
}

.AyaClass {
    transition: background-color 0.5s ease;
}

.AyaClass:hover {
    background-color: rgba(0, 153, 255, 0.24);
    cursor: pointer;
}

.LineClass {
    text-align: justify;
    text-align-last: center;
    direction: rtl;
    font-weight: 100;
}

/* Small devices */
@media screen and (max-width: 480px) {
    .divBox {
        font-size: 20px;
        box-shadow: 0px 0px 5px 5px rgba(185, 240, 163, 0.5);
    }

    .AyaClass {
        font-size: 25px;
    }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 900px) {
    .divBox {
        font-size: 30px;
        box-shadow: 0px 0px 5px 5px rgba(185, 240, 163, 0.5);
    }

    .AyaClass {
        font-size: 35px;
    }
}