<div class="MainBody">

    <div class="searchBox">
        <input type="text" class="Btn" style="text-align: center;width: 75%;" id="searchinput"
            placeholder={{Strings.SearchPage_PlaceHolder_SearchBox}} #titleInput (keyup)="search(titleInput.value)">
    </div>

    <div *ngFor="let e of SearchResult" class="Block">
        <div (click)="gotoQuranPageByPage(e.PageNr)" class="LineClass">
            <div>
                <Span>
                    <span>{{e?.Text_Uthmani}}</span>
                    <span class="qword">{{e?.AyaNr}}</span>
                </Span>
            </div>

            <div>
                <Span>
                    <span class="qword">{{Strings.MainPage_Page}} {{e?.PageNr}}</span>
                    <span> &nbsp; </span>
                    <span class="qword">{{Strings.SearchPage_Surah}} {{e?.SurahName}}</span>
                </Span>
            </div>
        </div>
    </div>
</div>