<div class="MainBody">

    <h1>{{Strings.Header_StreamsPage}} </h1>
    <nav style="margin-top: 5px;">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active BtnNav" id="nav-Maka-tab" data-bs-toggle="tab" data-bs-target="#nav-Maka"
                type="button" role="tab" aria-controls="nav-Maka"
                aria-selected="true">{{Strings.StreamPage_Tab_Makka}}</button>
            <button class="nav-link BtnNav" id="nav-Madina-tab" data-bs-toggle="tab" data-bs-target="#nav-Madina"
                type="button" role="tab" aria-controls="nav-Madina"
                aria-selected="false">{{Strings.StreamPage_Tab_Madina}}</button>
            <button class="nav-link BtnNav" id="nav-Radio-tab" data-bs-toggle="tab" data-bs-target="#nav-Radio"
                type="button" role="tab" aria-controls="nav-Radio"
                aria-selected="false">{{Strings.StreamPage_Tab_Radio}}</button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-Maka" role="tabpanel" aria-labelledby="nav-Maka-tab">
            <button class="Btn" (click)="Run_Video(Urls.MakkaLive1,IsMakka)">{{Strings.StreamsPage_Live}}
                1</button>
            <button class="Btn" (click)="Run_Video(Urls.MakkaLive2,IsMakka)">{{Strings.StreamsPage_Live}}
                2</button>
            <button class="Btn" (click)="Run_Video(Urls.MakkaLive3,IsMakka)">{{Strings.StreamsPage_Live}}
                3</button>
            <button class="Btn" (click)="Run_Video(Urls.MakkaLive4,IsMakka)">{{Strings.StreamsPage_Live}}
                4</button>
            <div class="ContanierClass" [innerHTML]="ComponentLiveMakka"> </div>
        </div>

        <div class="tab-pane fade" id="nav-Madina" role="tabpanel" aria-labelledby="nav-Madina-tab">
            <button class="Btn" (click)="Run_Video(Urls.MadineLive1,IsMadina)">{{Strings.StreamsPage_Live}}
                1</button>
            <button class="Btn" (click)="Run_Video(Urls.MadineLive2,IsMadina)">{{Strings.StreamsPage_Live}}
                2</button>
            <button class="Btn" (click)="Run_Video(Urls.MadineLive3,IsMadina)">{{Strings.StreamsPage_Live}}
                3</button>
            <button class="Btn" (click)="Run_Video(Urls.MadineLive4,IsMadina)">{{Strings.StreamsPage_Live}}
                4</button>
            <div class="ContanierClass" [innerHTML]="ComponentLiveMadina"> </div>
        </div>

        <div class="tab-pane fade" id="nav-Radio" role="tabpanel" aria-labelledby="nav-Radio-tab">
            <div style="text-align: justify;">
                <audio controls autoplay src="{{Running_URL}}" style="width: 100%;background-color: lightgrey;"></audio>
            </div>

            <div class="ContanierClass">

                <div class="DivBoxRadio">
                    <button class="Btn" (click)="Run_Audio(Urls.Sharjah_Radio)">{{Strings.Sharjah_Radio_Name}}</button>

                    <button class="Btn"
                        (click)="Run_Audio(Urls.ZuwaraLibya_Radio)">{{Strings.ZuwaraLibya_Radio_Name}}</button>

                    <button class="Btn"
                        (click)="Run_Audio(Urls.QuranEgypt_Radio)">{{Strings.QuranEgypt_Radio_Name}}</button>
                </div>

            </div>
        </div>
    </div>

</div>