  .DivBox {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #0000;
    background: linear-gradient(whiteSmoke 0 0) padding-box, repeating-conic-gradient(#5d513c 0 25%, #0000 0 50%) border-box;
    cursor: pointer;
    padding: 5px;
    width: 150vh;
    height: 100vh;
  }

  .DivBoxRadio {
    margin: 5px;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #0000;
    background: linear-gradient(whiteSmoke 0 0) padding-box, repeating-conic-gradient(#5d513c 0 25%, #0000 0 50%) border-box;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    font-size: x-large;
  }

  @media screen and (min-width: 128px) and (max-width: 900px) {
    .DivBox {
      height: 50vh;
    }

    .DivBoxRadio {
      font-size: large;
      width: -webkit-fill-available;
      white-space: break-spaces;
    }
  }

  /* Change the entire player background */
  audio::-webkit-media-controls-panel {
    background-color: lightgrey;
  }