<h1>البث المباشر</h1>
<div class="DivContanier">
    <iframe class="DivBox" src="https://www.youtube.com/embed/Tn28fmLi5Ko"></iframe>
    <iframe class="DivBox" src="https://www.youtube.com/embed/rHWSRMcGGBQ"></iframe>
</div>


<h1>الإذاعة</h1>

<div class="DivContanier">
    <div class="DivBoxRadio">
        <h3>Sharjah Quran Radio Sharjah, United Arab Emirates</h3>
        <audio controls src="https://l3.itworkscdn.net/smcquranlive/quranradiolive/icecast.audio"></audio>
    </div>

    <div class="DivBoxRadio">
        <h3>Zuwara Quran 103.7 FM Zuwara, Libya</h3>
        <audio controls src="https://stream.zeno.fm/snczwewpsg0uv"></audio>
    </div>

    <div class="DivBoxRadio">
        <h3>Quran FM 98.2 إذاعة القرآن الكريم Cairo, Egypt</h3>
        <audio controls src="https://stream.radiojar.com/8s5u5tpdtwzuv"></audio>
    </div>
</div>